* {
    box-sizing: border-box;
}
body {
    color: white;
}

.container {
    height: 90vh;
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../assets/Img/pexels-mohamed-almari-1485894.jpg);
    background-size: cover;
    display: flex;
}

.background {
    background-image: url(../assets/Img/pexels-min-an-1337975.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100vh;
    width: 100vw;
}

.weather-container {
    height: 100%;
    width: 65%;
}

.sidebar {
    height: 100%;
    width: 35%;
    -webkit-backdrop-filter: blur(15px); 
    backdrop-filter: blur(15px); /* Chrome and Opera */
    padding: 0 32px;
    position: relative;
}

.sidebar .sidebar__search{
    margin-top: 30px;
    
}
.sidebar__search__input{
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(184, 184, 184);
    width: 75%;
    height: 40px;
    font-size: 18px;
}
.sidebar__search__btn{
    position: absolute;
    height: 70px;
    width: 70px;
    top: 0;
    right: 0;
    color: black;
    background-color: #D66C05;
    border: none;
    cursor: pointer;
}
.sidebar__recommnend-location{
    margin: 0;
    padding: 30px 0;
    border-bottom: 1px solid rgb(184, 184, 184);
}
.sidebar__recommnend-location > p {
    color: rgb(206, 206, 206);
    padding: 5px 0;
}
.sidebar__details{
    padding: 30px 0;
    border-bottom: 1px solid rgb(184, 184, 184);;
}
.sidebar__details__details{
    display: flex;
    justify-content: space-between;
}
.weather-container{
    position: relative;
}
.weather{
    position:absolute;
    left: 15%;
    bottom: 15%;
    display: flex;
}
.weather .weather__info{
    margin: 0 10px;
    align-self: center;
    
}
.weather__info__temp{
    font-size: 96px;
    font-weight: 700;
}
.weather__info__city{
    font-size: 48px;
}
.weather__info__icon{
    font-size:48px;
}
.weather__info__status,.weather__info__date{
    font-size: 20px;
}
.weather__info--icon{
    position: relative;
}
.weather__info__status{
    position: absolute;
    left: 20%;
    top: 50%;
}