@font-face {
    font-family: 'Ondo DEMO';
    src: url('OndoDEMO-Medium.woff2') format('woff2'),
        url('OndoDEMO-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

